body{
	margin: 0px;
  padding: 0px;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

img {
	max-width: 100%;
}

.main-nav {
	margin: 0px;
	border: none;
	border-radius: 0px;
}

.map-wrapper {
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	z-index:-1;
	overflow-x: hidden;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

.launch-header {
	padding: 75px 0;
	color: #FFFFFF;
}

.launch-header h1 {
	font-size: 90px;
	font-weight: 300;
	line-height: 110px;
	margin: 0;
}

.launch-header h2 {
	font-weight: 300;
	margin: 0;
}

.launch-details .container {
	background: #F8F8F8;
}

.launch-details img {
	width: 100%;
}

.launch-video {
	margin-top: 15px;
}

.mission-patch {
	width: 30%;
	float: right;
	padding: 30px 0 15px 15px;
}
