body{
	margin: 0px;
  padding: 0px;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

.main-nav {
	margin: 0px;
	border: none;
	border-radius: 0px;
}

.map-wrapper {
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	z-index:-1;
	overflow-x: hidden;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

.launch-header {
	padding: 75px 0;
	color: #FFFFFF;
}

.launch-header h1 {
	font-size: 90px;
	font-weight: 300;
	line-height: 110px;
	margin: 0;
}

.launch-details {
	background: #F8F8F8;
}
