<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }} | {% endif %} Launch Calendar</title>

    <!-- Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Mapbox -->
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.css' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.js'></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="map-wrapper">
      <div id='map'></div>
    </div>
    {% include navigation.html %}
    <div class="page-section launch-header">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              {% if page.vehicle-type == 'rocket' %}🚀 {% endif %}{{ page.vehicle }}<br/>
              {% if page.payload-type == 'satellite' %}🛰 {% endif %}{{ page.payload }}
            </h1>
            <h2>{{ page.date | date: "%A, %B %-d, %Y %H:%M (GMT)" }}</h2>
          </div>
        </div>
      </div>
    </div><!-- /.launch-header -->

    <div class="page-section launch-details">
      <div class="container">
        {{ content }}
      </div>
    </div><!-- /.launch-details -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
    function resizeMap() {
      var mapElement = document.getElementById('map');

      var windowSize = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      var containerSize = document.querySelector('.container').clientWidth;

      mapElement.style.width = windowSize + (containerSize/2) + "px";
    }
    resizeMap();

    {% for launch_site in site.launch_sites %}
      {% if launch_site.title == page.location %}
      var lat = {{ launch_site.geo-lat }};
      var lon = {{ launch_site.geo-lon }};
      {% endif %}
    {% endfor %}

    mapboxgl.accessToken = 'pk.eyJ1IjoiY2ptYXJ0aW4iLCJhIjoiY2lrbmsxanA5MHNvZ3V4a21ucHRremMzMCJ9.BuQ7cMJ0H9h_4yO8LvmKfA';
    var map = new mapboxgl.Map({
        container: 'map',
        zoom: 2.5,
        scrollZoom: false,
        center: [lon, lat],
        style: 'mapbox://styles/mapbox/satellite-v8',
        hash: false
    });

    setTimeout(function(){
      map.flyTo({center: [lon, lat], zoom: 16, speed: 1});
    }, 5000);
    </script>
  </body>
</html>
